@import url("https://unpkg.com/normalize.css");

:root {
    --color-blue: #213363;
    --color-green: #17594A;
    --color-light-green: #8EAC50;
    --color-lime: #D3D04F;
}

body {
    background-color: var(--color-green);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
   
}

body > * {
    margin: 0  15%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-lime);
}

nav > .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav > .logo:hover{
    filter: brightness(0.8);
}

nav > .logo > .icon {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}


img {
    height: 500px;
    width: 500px;
}