@import url("https://unpkg.com/normalize.css");

:root {
    --color-blue: #213363;
    --color-green: #17594A;
    --color-light-green: #8EAC50;
    --color-lime: #D3D04F;
}

body {
    background-color: var(--color-green);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
   
}

body > * {
    padding: 0  15%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-lime);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav > .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: filter 0.5s ease;
}

nav > .logo:hover{
    filter: brightness(0.8);
}

nav > .logo > .icon {
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

nav > ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
}

nav > ul > li {
    padding: 40px 70px; 
    cursor: pointer;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
}

nav > ul > li:hover {
    color: var(--color-green);
    background-color: var(--color-light-green);
}


img {
    height: 500px;
    width: 500px;
}